
@media screen and (min-width:768px){
  main{
   justify-content: center;
    display: grid;
    grid-template-columns: 200px 190px 190px 190px 190px;
    grid-template-rows: 100px 200px 250px 150px;
    width: 960px;    
}

div{
  justify-content: center;
  align-items: center;
}

#a{
  width: 960px;
  height: 100px;
  border: 1px black;
  background-color: grey;
  color: white;
  line-height:100px ;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

#b{
  line-height: 600px ;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 5;
  width: 200px;
  height: 600px;
  border: 1px black;
  background-color: black;
  color: rgb(100, 69, 69);
}

#c{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end:  3;
  line-height: 200px;
  width: 380px;
  height: 200px;
  border: 1px black;
  background-color: rgb(99, 78, 78);
  color: white;
}

#d{
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  line-height: 200px;
  width: 380px;
  height: 200px;
  border: 1px black;
  background-color: rgb(70, 57, 80);
  color: white;
}

#e{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  line-height: 250px ;
  width: 190px;
  height: 250px;
  border: 1px black;
  background-color: rgb(66, 116, 133);
  color: white;
}

#f{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  line-height: 250px ;
  width: 190px;
  height: 250px;
  border: 1px black;
  background-color: rgb(133, 54, 54);
  color: white;
}

#g{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  line-height: 250px ;
  width: 190px;
  height: 250px;
  border: 1px black;
  background-color: rgb(30, 94, 158);
  color: white;
}

#h{
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
 line-height: 250px ;
  width: 190px;
  height: 250px;
  border: 1px black;
  background-color: rgb(34, 104, 34);
  color: white;
}

#i{
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
  line-height: 150px;
  width: 760px;
  height: 150px;
  border: 1px black;
  background-color: goldenrod;
  color: white;
}

@media screen and (min-width:1024px){
  main{
    justify-content: center;
     display: grid;
     grid-template-columns: 200px 190px 190px 190px 190px;
     grid-template-rows: 100px 200px 250px 150px;
     width: 1024px;    
 }
 
 div{
   justify-content: center;
   align-items: center;
 }
 
 #a{
   line-height: 100px;
   grid-column-start: 1;
   grid-column-end: 6;
   grid-row-start: 1;
   grid-row-end: 1;
   width: 960px;
   height: 100px;
   border: 1px black;
   background-color: rgb(153, 25, 25);
   color: blue
 }
 
 #b{
   line-height: 600px ;
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 2;
   grid-row-end: 5;
   width: 200px;
   height: 600px;
   border: 1px black;
   background-color: rgb(121, 103, 103);
   color: rgb(100, 69, 69);
 }
 
 #c{
   grid-column-start: 2;
   grid-column-end: 4;
   grid-row-start: 2;
   grid-row-end:  3;
   line-height: 200px;
   width: 380px;
   height: 200px;
   border: 1px black;
   background-color: rgb(57, 24, 61);
   color: white;
 }
 
 #d{
   grid-column-start: 4;
   grid-column-end: 6;
   grid-row-start: 2;
   grid-row-end: 3;
   line-height: 200px;
   width: 380px;
   height: 200px;
   border: 1px black;
   background-color: rgb(144, 37, 226);
   color: white;
 }
 
 #e{
   grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 3;
   grid-row-end: 4;
   line-height: 250px ;
   width: 190px;
   height: 250px;
   border: 1px black;
   background-color: rgb(65, 85, 19);
   color: white;
 }
 
 #f{
   grid-column-start: 3;
   grid-column-end: 4;
   grid-row-start: 3;
   grid-row-end: 4;
   line-height: 250px ;
   width: 190px;
   height: 250px;
   border: 1px black;
   background-color: rgb(53, 175, 118);
   color: white;
 }
 
 
 #g{
   grid-column-start: 4;
   grid-column-end: 5;
   grid-row-start: 3;
   grid-row-end: 4;
   line-height: 250px ;
   width: 190px;
   height: 250px;
   border: 1px black;
   background-color: rgb(28, 92, 84);
   color: white;
 }
 
 #h{
   grid-column-start: 5;
   grid-column-end: 6;
   grid-row-start: 3;
   grid-row-end: 4;
  line-height: 250px ;
   width: 190px;
   height: 250px;
   border: 1px black;
   background-color: rgb(15, 66, 15);
   color: white;
 }
 
 #i{
   grid-column-start: 2;
   grid-column-end: 6;
   grid-row-start: 4;
   grid-row-end: 5;
   line-height: 150px;
   width: 760px;
   height: 150px;
   border: 1px black;
   background-color: rgb(94, 78, 39);
   color: white;
 }